@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .year {
  font-family: var(--font-bebas-neue), sans-serif;
  text-transform: uppercase;
}

.byline {
  color: rgb(53, 48, 48);
}

p {
  font-size: 1.2rem;
}

p.blockText a {
  text-decoration: underline;
}

a:hover {
  color: rgb(95, 165, 188);
  text-decoration: none;
}